.my-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3a3b3c;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding: 10px 0;
}
.my-footer p{
    margin: 0;
    color: rgb(205, 199, 199);
    line-height: normal;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.button-info{
    background-color: grey;
    border: none;
    padding: 6px 13px;
    border-radius: 20px;
}
.button-info p{
    color: white;
    font-size: 20px;
}
.copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
    padding: 4px;
    border-top: 1px solid black;
}
.my-footer .person{
    display: flex;
}
.copyright a{
    text-decoration: none;
}
@media (min-width:1000px){
    body, .my-footer{
        width: 600px;
        border: 2px solid grey;
        border-radius: 2px;
        margin-left: 32%;
    }
    .my-footer{
        flex: 1;
    }
}