body{
    margin: 0;
    padding-top: 48px;
    background-color: #18191a;
    font-family: Arial, Helvetica, sans-serif;
    object-fit: cover;
    padding-bottom: 54px;
}

.your-mind{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 6px;
    margin-right: 0;
    border-bottom: 1px solid grey;
}
.left-section{
    width: 40px;
    display: flex;
    margin-right: 10px;
    background-color: transparent;
    border: none;
}
.left-section img{
    height: 25px;
    border-radius: 30px;
    cursor: pointer;
}
.middle-section{
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}
.middle-section p{
    margin: 10px 0;
    color: white;
    font-size: 17px;
}
.middle-section input{
    padding: 14px;
    font-size: 18px;
    border: none;
    background-color: #3a3b3c;
    border-radius: 25px;
    width: 100%;
    color: white;
    min-width: 200px;
}
.middle-section input::placeholder{
    color: rgb(224, 222, 222);
    padding-left: 12px;
}
.main-content{
    display: flex;
    flex-direction: column;
    padding: 4px 6px;
}
.main-content-message-setting{
    display: flex;
    flex-direction: column;
    padding: 4px 6px;
    margin-top: 70px;
}
.suggested{
    margin: 0;
    color: white;
    font-size: 16px;
}
.profile{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.profile-pic{
    width: 50px;
    height: 50px;
    margin-right: 6px;
}
.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile p{
    margin: 0;
    color: white;
    font-size: 17px;
}
.settings{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    margin-right: 15px;
}
.setting{
    width: 40px;
    margin-right: 6px;
    padding: 8px 9px;
    border-radius: 50%;
    border: none;
    background-color: #3a3b3c;
}
.setting img{
    width: 100%;
    border-radius: 50%;
}
.setting-info{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.setting-type{
    margin: 0;
    color: rgb(185, 181, 181);
    font-size: 16px;
}
.setting-name{
    margin: 0;
    color: white;
    font-size: 15px;
}
@media (min-width:1000px){
    body, .footer{
        width: 600px;
        border: 2px solid grey;
        border-radius: 2px;
        margin-left: 32%;
    }
    body{
        height: 795px;
    }
    body{
        background-color: rgb(233, 231, 231);
    }
    main{
        background-color: #18191a;
        height: 110%;
    }
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    background-color: rgb(94, 92, 92);
    justify-content: space-between;
}
.footer p{
    margin: 0;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.footer button{
    background-color: grey;
    border: none;
    padding: 6px 13px;
    border-radius: 20px;
    cursor: pointer;
}
.footer div{
    padding: 10px 8px;
}
.footer a{
    text-decoration: none;
}